@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .container{
    @apply px-2 sm:px-3 md:px-4 lg:px-5 mx-auto
  }
}

@layer components{
  .btn{
    @apply rounded-full bg-blue-500 text-white px-4 py-2 hover:bg-blue-400 transition-all
  }
}


